.section-intro {
    margin-top: 5rem;
}
.section-intro-title {
    color: #8e8c8c;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.section-intro-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 3rem;
    margin-top: 0.75rem;
}

.section-intro-decription {
    font-size: 1rem;
    font-weight: 400;
}

@media only screen and (max-width: 1000px) {
    .section-intro-heading {
        font-size: 1.65rem;
    }
}